[Unit]
Description=Read Powermeters in PowerCabinet
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=python3 /home/rainer/Projects/PowerMeter/read_or-we-517.py
[Install]
WantedBy=multi-user.target
